.mainGreyColor{
  color: #555;
}
.mainColor {
  color:#1890ff;
}
.clearfix::after {
  content: '.';
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.boxshandow {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1)
}
.normalFontWeight {
  font-weight: 500;
}
.thinFontWeight {
  font-weight: 300;
}
.borderRadius {
  border-radius: 5px;
}