.admin-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.admin-container > .admin-navigation{
  width: 12%;
  height: 100%;
  background: #000c17;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
  float: left;
}
.admin-content {
  float: right;
  width:88%;
  height: 100%;
}
.admin-container > .admin-navigation > .avator {
  margin-top:40px;
  margin-bottom:20px;
}
.avator > .system-name{
  color: #fff;
  display: inline-block;
  margin-left: 10px;
}
.admin-container > .admin-navigation > .menue {
  width: 113%;
  height: calc (100vh - 144px);
  overflow-y: auto;
  background: #000c17;
}
.order{
  width: 100%;
  position: relative;
  z-index: 99;
  background: #000c17;
}
