.statistics {
  background:#fff;
  padding: 20px;
  margin: 20px 60px;
  overflow: hidden;
  border-radius:3px;
}
.newsItem{
  display: flex;
  justify-content: left;
}
.newsList{
  padding-top: 30px;
}
.newsItem-date{
  padding-left:20px;
  display: block;
}
